body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  .research-text {
    padding: 10px;
    text-align: justify;
    font-size: 26px;
  }
  .research-text h2,.research-text h1 {
    color: #333;
    font-size: 25px;
    font-weight: bold;
    
  }
  .research-text h2{
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .pictures {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .picture {
     flex: 0 0 48%;
    padding-right: 10px;
  }
  .picture img{
    width: 100%;
    height: auto;
  }
  .sec{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid black;
    padding: 100px 60px;
    width: 80%;
    margin: 10%;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
  }
  @media(max-width: 1000px){
    .pictures {
        flex-direction: column;
    }
    .picture{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .research-text h2,.research-text h1 {
    font-weight: bold;
    font-size: 18px;
  }
  p{
    font-size: 16px;
  }
  .sec{
    width: 90%;
    height: auto;
    padding: 30px 8px ;
       margin: 5%;
  }

  }
  .carousel slide{
    margin-top: 50px;
    margin-bottom: 30px;
  }
