*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 17px;
    line-height: 80px;
    padding-left: 0 80px ;
    font-weight: bold;


}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px ;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
@media (max-width: 952px){
    label.logo{
        font-size: 18px;
        padding-left: 13px;
    }
    nav ul li a{
        font-size: 16px;
        
    }
}
@media (max-width:858px){
.checkbtn{
    display: block;

}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transform: all .5s;

}

nav ul li{
    display: block;

}
nav ul li a{
    font-size: 20px;

}
a:hover,a.active{
    background: none;
    color: #0082e6;
}
#check:checked ~ul{
    left:0;
}

}


.background-section {
  background-image: url('IMG_20230804_200521_766.jpg');
  background-size: contain; /* Change this line */
  background-position: center;
  width: 100%; /* Add this line */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}


.intro-text {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
} 






.cv-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b9bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.cv-button:hover {
    background-color: #1470c8;
}


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .course h1{
    font-size: 36px;
    font-weight: 600;
  }
  .course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  
  }
  .course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  
  }
  
  @media(max-width: 700px){
    .row{
      flex-direction: column;
    }
  }

  
  /* Style the education section */
  .education-section {
    background-color: #f7f7f7;
    padding: 50px 0;
    text-align: center;
  }
  
  .education-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
  }
  
  .education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .education-details {
    font-size: 1.1rem;
    color: #888;
    margin-bottom: 5px;
  }
  
  .education-description {
    font-size: 1rem;
    color: #333;
  }

  @media screen and (max-width: 768px) {
    .education-content {
      flex-direction: column;
      align-items: center;
    }
  
   
  
  
  .education-details {
    text-align: center;
  }
}
.section1 {
  background-image: url(bg.1.png);
  background-position: relative;
  background-size: cover;
  height: 600px;
}

.leisure-interest {
  float: right;
  width: 40%;
  color: #011f5b;
  margin-top: 20px;
  padding: 20px;
  margin-right: 80px;
}

.leisure-image {
  width: 624px;
  height: 386px;
  float: left;
  margin-top: 60px;
  overflow: hidden;
}

.leisure-image img {
  width: 100%;
  height: auto;
  padding-right: 20px;
  margin: 20px;
}

.interesting-fact {
  color: #011f5b;
  background: transparent;
  border: 1px solid #b0d2cd;
  width: 600px;
  height: 200px;
  box-sizing: border-box;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
}

.interesting-fact h2 {
  text-align: center;
  margin-top: 4px;
}

.interesting-fact p {
  font-family: 'Gelasio', serif;
  font-size: 1.15em;
}

@media (max-width: 768px) {
  .leisure-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .leisure-image img {
    width: 100%;
    height: auto;
    padding-right: 0;
    margin: 0;
  }

  .leisure-interest {
    width: 100%;
    float: none;
    margin-top: 20px;
    padding: 20px;
    margin-right: 0;
  }
  .leisure-list{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: auto;
  }
  .leisure-list ul li{
    font-size: 24px;
  }

  

  .interesting-fact {
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    height:auto;
  }
}
/* Add your existing CSS here */

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .section1 {
      height: auto;
  }

  .leisure-interest {
      float: none;
      width: 100%;
      margin: 20px 0;
      padding: 10px;
  }

  .leisure-image {
      float: none;
      width: 100%;
      margin-top: 20px;
      text-align: center;
  }

  .leisure-image img {
      width: 100%;
      height: auto;
  }
  .leisure-list{
    height: 200px;
    width: 100%;
    display: block;
  }
  

  .interesting-fact {
      width: 100%;
      height: auto;
  }
}
.about-me{
  width: 100%;
}
.about-me h1{
text-align: center;
font-size: 40px;
color:#2b9ec2;
text-transform: uppercase;
letter-spacing: 1.5px;
margin-top: 50px;
}
.about-me h1::after{
  content: "";
  height: 5px;
  width: 200px;
  background-color: #1470c8;
  border-radius: 10px;
  display: block;
  margin:auto;
}
.wrapper{
  padding: 0px 60px;

}
.content{
  width: 60%;
  float: left;
  text-align:left;
  padding: 0px 30px;
}
.image-section{
  width: 40%;
  float: right;
  padding: 0px 30px;
}
.image-section img{
  max-width: 100%;
  height: auto;
}
.content .button{
  margin-top: 40px;
  margin-bottom: 50px;
}
.content .button a{
  color: #fff;
  background-color: #2b9ec2;
  border: 1px solid #2b9ec2;
  padding: 10px 35px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 22px;
  text-transform: uppercase;

}
.content .button a:hover{
  background-color: #fff;
  color: #2b9ec2;
}

.content h3{
  
  letter-spacing: 1px;

}

@media screen and (max-width:900px) {
  .about-me{
    width: 100%;
    padding-top: 20px
  }
  .about-me h1{
    font-size: 32px;
  }
  .content{
    width: 100%;
    float: none;
  }
  .content .button{
    margin-top: 30px;
    text-align: center;
  }
  .content .button a{
    padding: 8px 25px;
     font-size: 10px;
  }
  .image-section{
    float: none;
    width: 100%;
  }
   .content h3{
    font-size: 24px;
    text-align:left;
    
    font-size: 1rem;
    font-weight:normal;
  }
}
footer{
  width: 100%;
  background-color: #333;
  margin-top: 40px;

}
footer h1{
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 30px;
}
.footer-text p{
  text-align: center;
  color: white;
  margin-top: 10px;
}
.footer-icon{
  align-items: center;
  margin:0 auto;
  position: relative;
  margin-left: 42%;
  
}
.footer-icon i{
    font-size: 40px;
    color: #fff;
    position: relative;
    padding-right: 10px;
}
.footer-icon i:hover {
  color: #ff9900; /* Change the color on hover */
}
@media(max-width:768px) {
  .footer-icon{
    padding-right: 2px;
    margin-left: 30%;
    
  } 
    footer h1{
        font-size:27px;
        margin-left:6px;
    }
  .footer-text p{
    font-size: 20px;
  }
}
